.google-login {
  margin-top: 20px;
  text-align: center;
}

.google-login p {
  margin-bottom: 10px;
  font-weight: bold;
}

.google-login button {
  background-image: url('./GoogleButton.jpg');
  background-size: contain;  /* Ensures the entire image fits within the button */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  background-position: center;  /* Centers the image within the button */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 60%; /* Ensures the button takes up the full width of its container */
  height: 50px; /* Adjust the height to accommodate the image size */
}


.google-login button:hover {
  background-color: white
  ;
}
.google-login {
  margin-top: -20px; /* Decrease the margin-top to move the section up */
  text-align: center;
}