.form-container {
  display: flex;
  justify-content: flex-end; /* Align form to the right side */
  padding-right: 100px; /* Adjust padding to create space from the right edge */
  padding-top: 120px; /* Add padding from the top to move the form down */
}

form {
  max-width: 400px;
  padding: 20px; /* Adjust padding for better appearance */
  border: 2px solid #ccc;
  border-radius: 10px;
  background-image: url("/src/asserts/SPOILER_WebWizardTraining.png");
  background-size: cover; /* or use 'contain' */
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px; /* Adjust the value as needed */

}

form div {
  margin-bottom: 50px; /* Adjust spacing between form elements */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
.form-header {
font-size: 18px;

}
