/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/src/asserts/KC.jpg");
  background-size: cover; /* Stretch the background image to cover the entire navbar */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  color: #fff;
  padding: 10px 20px;
  width: 100%; /* Make navbar span the full width */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it appears above other content */
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  text-decoration: none;
}

.logo img {
  height: 100px; /* Adjust height as needed */
  width: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0; /* Reset margin to ensure links are flush against the navbar */
  padding: 0; /* Reset padding to ensure links are flush against the navbar */
}

.nav-links li {
  margin: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
}

.nav-links li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.nav-logOut {
  margin-left: auto; /* Use auto to push the logout link to the far right */
}

.nav-logOut a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 15px;
}

.nav-logOut a:hover {
  background-color: #555;
  border-radius: 5px;
}
