<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<!--    <meta charset="UTF-8"/>-->
    <title>Create/Edit Post</title>
</head>
<body>
<!--<h1 th:text="${post.id} == null ? 'Create Post' : 'Edit Post'">Form Title</h1>-->
<form action='#' th:action="@{/posts/submit}" th:object="${post}" method="post">
<!--    <input type ="hidden" th:if="${post.id}" th:field="*{id}">-->
    <div>
        <label for="title">Title: </label>
        <input type="text" id="title" th:field="*{title}" required>
    </div>
    <div>
        <label for="content">Content: </label>
        <textarea id="content" th:field="*{content}" required></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
<a href="/posts">Back to Posts</a>
Insert body content here.
</body>
</html>