<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<!--<h1 th:text="${'Job: ' + job.name}">Default Title</h1>-->

<nav th:replace="fragments :: page-header"></nav>

<!--<div class="job-listing">-->
<!--  <p th:text="${'ID: ' + job.id}"></p>-->
<!--  <p th:text="${'Name: ' + job.name}"></p>-->
<!--  <p th:text="${'Employer: ' + job.employer}"></p>-->
<!--  <p th:text="${'Skill: ' + job.skill}"></p>-->
<!--</div>-->

<h1 th:text="$post.title}">Title</h1>
<p th:text="${post.content}">Content</p>
<a th:href="/posts">Back to Posts</a>


</body>
</html>